#result {
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 350px;
}

#thebody{
	margin-left: 350px;
	height: 400px; 
	width: 800px;
	margin-top: 25px;
	font-family: 'Roboto Condensed', sans-serif;
}
.jqplot-title{
	font-size: 25px;
}

#chart2{
	height: 200px;
}